.plain {
    display: none;
}

body {
    background-color: black;
}

.terminal {
    display: contents;
    color: #32CD32;
    font-family: monospace;
    height: 100vh;
    padding: 10px;
}

.terminalInput {
    background-color: black;
    color: white;
    margin: 5px;
}

.terminalInput:focus {
    outline: none;
}

.output {
    color: white;
}
